* {
margin: 0;
padding: 0;
border: none;
list-style-type: none;
}

.table_wrap{
  
  width: 1000px;
  margin: 30px auto; 
  padding: 10px;
#border: 2px solid black;
}

.table_wrap ul li .options{
  float: left;
  display:flex;
  width:85%;
  align-items:center;
  color: black;
  background:#D3D3D3;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px; 
#border: 2px solid black;
}

.table_wrap ul li .options .t_building{
  width:40%;
  padding: 10px; 
#border: 2px solid black;
}

.table_wrap ul li .options .t_room{
  width:20%;
  padding: 10px; 
#border: 2px solid black;
}

.table_wrap ul li .options .t_capacity{
  width:10%;
  padding: 10px; 
#border: 2px solid black;
}

.table_wrap ul li .options .t_floor_plan{
  width:20%;
  padding: 10px; 
#border: 2px solid black;
}

.table_wrap ul li .options .t_status{
  width:10%;
  padding: 10px; 
#border: 2px solid black;
}

aside{
  float: left;
  width:15%;
  color: white;
  padding: 10px;
  background: #00008B;
  border: 2px solid white;
  border-radius: 20px;
#border: 2px solid black;
}

